# compiled
build/
dist/
node_modules/
*.tsbuildinfo

# secrets
certificates
keys.json
.env
.env.*
!.env.example

# logs
logs
*.log

# dependencies
/.pnp
/.pnpm-store
.pnp.js
.pnpm-debug.log*
npm-debug.log*
.turbo

# os
.DS_Store
**/.DS_Store